* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

:root {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

body {
    height: 100vh;
}

header {
    position: sticky;
    top: 0;

    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.2rem solid black;
    gap: 0.5rem;
}

header img {
    height: 2rem;
}

.card {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: 0.1rem solid black;
    box-shadow: 0.1rem 0.1rem black;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: bold;
}

.card:hover {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    gap: 0.5rem;
}

#content {
    height: calc(100dvh - var(--header-height));
    display: flex;
    flex-direction: column;
}

#content>div {
    flex: 1;

    display: flex;
    flex-direction: column;
}

section {
    flex: 1;

    background-color: white;
    color: black;
    text-align: center;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

section:nth-child(even) {
    background-color: black;
    color: white;
}

p {
    max-width: 45ch;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



@media (max-width: 600px) {
    header {
        justify-content: center;
    }
}